<div id="container">
	
		<div class="page">
		<div id="event_listings_container" class="event_listings">	

			<h1 id="new_user_signup_header">Sign up to Dormtown</h2>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  			<%= devise_error_messages! %>

  			<div><%= f.label :email %><br />
  			<%= f.email_field :email %></div>

  			<div><%= f.label :password %><br />
  			<%= f.password_field :password %></div>

  			<div><%= f.label :password_confirmation %><br />
  			<%= f.password_field :password_confirmation %></div>

  			<div><%= f.submit "Sign up" %></div>
			<% end %>

		</div>
			  
		
		
	</div>






