<div id="container">
		<div id="sidebar">
			
			<div id="navigation">
			  <ul>
				<li><a class="current" href="">Events</a></li>
				  <ul id="sidebar_events_subheader">
					<li class="current_subheader"><a href="">Popular</a></li>
					<li><a href="events/today">Today</a></li>
					<li><a href="events/tomorrow">Tomorrow</a></li>
					<li><a href="events/recent">Recently added</a></li>
				  </ul>
				<li><%= link_to 'Post an event', new_event_path, :id => "events_post_button" %></li>
			        <li><%= form_tag search_events_path, :method => 'get' do %>
  					<p>
    					<span id="search"><%= text_field_tag :search, params[:search], :class => "search_bar", :placeholder => "Search for an event"  %>
    					<%= submit_tag "Search", :name => nil, :class => "search_bar_button" %></span>
  					</p>
					<% end %></li>		
			  </ul>
			</div>
		</div>
		<div class="page">
		<div id="event_listings_container" class="event_listings">	
			<ul>
			
			<%= render 'ind' %>
				
			</ul>
		</div>
			  
		
		
		</div>


