<div id="event_listings_container" class="event_listings">	
  <ul id="navmenu">
    <li><a href="../events">Popular</a></li>
    <li><a href="../events/today">Today</a></li>
    <li><a href="../events/recent">New</a></li>
    <li><%= form_tag date_events_path, :method => 'get', :class => "date_form" do %>
					<%= select_date(Time.now, :order => [:month, :day, :year])  %>
					<%= submit_tag "Filter Events by Date", :name => :nil, :class => "date_bar_button" %>
				    <% end %></li>

    <li><span id="search"><%= form_tag search_events_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :class => "search_bar", :placeholder => "Search"  %>
        <% end %></span>
    </li>

  </ul>
		  
  <ul id="events">
    <% @events.each do |event| %>
    <li class="event_listings_item">
    <a class="event_listings_item_link" href="/events/<%= event.id %>">
    <ul>
      <li class="event_name"><%= truncate(event.name, :length => 20, :separator => ' ', :omission => "...") %></li>
      <li class="event_location"><%= truncate(event.location, :length => 20, :separator => ' ', :omission => "...") %></li>
      <li class="event_datetime"><%= event.eventtime.strftime("%I:%M%p") %> on <%= event.eventdate.strftime("%m/%d/%Y") %></li>
      <li class="event_description"><%= truncate(event.description, :length => 153, :separator => ' ', :omission => "...\n") %></li>
    </ul>
    </a>
    </li>
    <% end %>
    </ul>
</div>
		

