<div id="events_info">
  <div id="events_info_container">
  <div id="events_info_title"><%= @event.name %> </div>
  <div id="events_info_datetime"><%= @event.eventdate.strftime("%m/%d/%Y") %> at <%= @event.eventtime.strftime("%I:%M%p") %></div>
  <div id="events_info_location"><%= @event.location %></div>
  <p id="events_info_description"><%= @event.description %> </p>
  <% if @event.user.email == current_user.email %>
  <%= button_to "Delete", @event, :method => :delete, :confirm => "Are you sure? This event will be permanently deleted." %>
  <br>
  <% end %>
  <%= link_to 'Back to Events', events_path, :id => "back_to_events" %>
  </div>
</div>
</div>

