<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Dormtown - What's happening at your campus?</title>
	<%= stylesheet_link_tag "school_style", "normalize" %>
	<%= javascript_include_tag "application", "jquery-1.9.1" %>
	<%= csrf_meta_tag %>	
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<div id="header">
	  <ul>
	    <li id="logo"><%= link_to (image_tag "logo.png"), events_url %></li>
            <% if user_signed_in? %>
	    <li id="user_account"><div id="user_account_move"><%= current_user.email %><%= link_to "Sign out", destroy_user_session_path, :id => "user_account_signout" %></div></li>
            <% end %>   
	  </ul>
	</div>

	<div id="container">
	  <div id="tagpost">
	    <h1>What's happening at Pitt?</h1>
	    <div id="post_container"><%= link_to 'Post something', new_event_path, :id => "post"%></div>
	  </div>		
	<%= yield %>

<div id="footer">
</body>
</html>
