<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Dormtown - The college experience.</title>
	<%= stylesheet_link_tag "school_style"%>
	<%= javascript_include_tag 'application' %>	
</head>
<body>
<div id="header">
    <div id="top_nav">
      <ul>
        <li >[Logo]</li>
	<li id="login"><%= current_user.email %>&nbsp;&nbsp;<%= link_to 'Sign Out', destroy_user_session_path %></li>
      </ul>
    </div>
</div>
<div id="wrapper">
  <div id="content">
    <div id="school_name">University of Pittsburgh</div>
    <div id="search_post">
      <ul>
        <li><form><input id="search_bar" type="text" name="search" placeholder="Search"></form></li>
        <li id="post_button"><%= link_to 'Post', new_event_path %></li>
      </ul>	
    </div>
    <%= yield %>

</body>
</html>
