<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Dormtown - What's happening at your campus?</title>
	<%= stylesheet_link_tag "school_style", "normalize" %>
	<%= javascript_include_tag "application", "jquery-1.9.1" %>
	<%= csrf_meta_tag %>	
</head>
<body>
	<div id="header">
	  <ul>
	    <li id="logo"><%= image_tag "logo.png" %></li>
	  </ul>
	</div>

	<div id="container">
	  <div id="tagpost">
	    <h1>What's happening on your campus?</h1>
	    <div id="post_container"><%= link_to 'Post something', new_event_path, :id => "post"%></div>
	  </div>		
	<%= yield %>

</body>
</html>
